<div class="jumbotron card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Just Good News</strong></h2>
      <h3>Because happy stuff happens.</h3>
      <p class="mx-5 mb-5">Tired of headlines that foster fear? Check here for the latest feel good
          articles from Huffpost. Save your favorite articles or add an upbeat comment.
      </p>
      <a class="navbar-brand" href="/">HOME</a>
      <a class="navbar-brand" href="/savedarticles">SAVED ARTICLES</a>
    </div>
  </div>

<div class="jumbotron card card-image" style="background-color: white">
  <div class="text-white text-center py-5 px-4">
    <h3 style="color: rgb(12, 184, 161)">Articles</h3>
  </div>

  <br>
  <div id="wrapper">
    <div id="articles" style="width: 50rem;">
        {{#each articles}}
        <hr>
          <div id="article" class="card-body">
            <h5 class="card-title">{{title}}</h5>
            {{#unless saved}}
              <button class="btn btn-success save" data-id="{{id}}"> Save article </button>
            {{/unless}}
            {{#if saved}}
              <p>Article saved!</p>
            {{/if}}
            <br>
            <a href={{link}} style="font-size:small">View Full Article</a>
            <p class="card-text">{{summary}}</p>
            {{#each note}}
            <br>
              <p style="font-style:italic; font-size:small">Comment: {{body}}</p>
              <button type="button" class="btn btn-primary" data-id="{{id}}">Delete comment</button>
              <br>
            {{/each}}
            <br>
            <form class="comment" data-id="{{id}}">
              <div class="form-group">
                <label for="note">Leave a comment</label>
                <textarea class="form-control" class="body" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        {{/each}}
    </div>
  </div> 
</div>
